header{
    position: absolute;
    display: flex;
    width: 100%;
    
}
.project{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 30%;
}
a, ul{
    list-style: none;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.project>a{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    /* identical to box height, or 80% */

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}
li>a{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
}
nav{
    width: 40%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}









.textbox{
    width: 80%;
    display: flex;
    justify-content: space-between;

}

.textbox p{
    width: 45%;
    text-align: justify;
}










.footer_information{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(2,65px);
}

.footer_logo{
    grid-column: 1;
    grid-row: 1;
}

.adress{
    grid-column: 3;
    grid-row: 1;
}

.email{
    grid-column: 3;
    grid-row: 2;
}

.copyright{
    grid-column: 6/8;
    grid-row: 2;
}
