.subheader{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

main .headline_section .subheader{
    position: absolute;
    width: 426px;
    height: 56px;
    left: 387px;
    top: 438px;
}

main .main_section .subheader{
    position: absolute;
    width: 426px;
    height: 57px;
    left: 387px;
    top: 946px; 
    color: #666666;  
}

main .about_culture .subheader{
    position: absolute;
    width: 390px;
    height: 102px;
    left: 395px;
    top: 1874px;
}

.textbox{
    position: absolute;
    width: 983px;
    height: 194px;
    left: 97px;
    top: 1051px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    text-align: center;

    color: #000000;
}